/* Buttons */
.main-playButton-PlayButton.main-playButton-primary {
  color: var(--spice-player);
}

.main-button-primary {
  background-color: var(--spice-main);
}
.main-button-primary:active,
.main-button-primary:focus,
.main-button-primary:hover {
  background-color: var(--spice-sidebar);
}

.control-button-heart[aria-checked=true],
.main-addButton-active,
.main-addButton-active:focus,
.main-addButton-active:hover {
  color: var(--spice-selected-row);
}

.main-addButton-active:hover {
  -webkit-transform: scale(1.06);
  transform: scale(1.06);
}

/* Progress bar */
.x-progressBar-progressBarBg > div > div {
  background-color: var(--spice-text);
}

/* Top bars */
.main-entityHeader-backgroundColor,
.main-actionBarBackground-background {
  display: none;
}

.main-topBar-background {
  background-color: var(--spice-main) !important;
}

.main-entityHeader-withBackgroundImage {
  background-color: rgba(var(--spice-rgb-player), 0.2);
}

/* Sidebar */
.main-navBar-navBar li:hover > div,
.main-navBar-navBar li:hover > a:not(.main-navBar-navBarLinkActive),
.spicetify-playlist-list li:hover {
  background-color: var(--spice-main);
}

#spicetify-sticky-list li:hover > div {
  border-radius: 4px;
}

/* Scrollbar */

.os-theme-spotify > .os-scrollbar-horizontal,
.os-theme-spotify > .os-scrollbar-vertical {
  padding: 4px;
}

.os-theme-spotify.os-host-transition > .os-scrollbar-horizontal > .os-scrollbar-track > .os-scrollbar-handle,
.os-theme-spotify.os-host-transition > .os-scrollbar-vertical > .os-scrollbar-track > .os-scrollbar-handle {
  background-color: var(--decorative-base);
  border-radius: 6px;
}

::-webkit-scrollbar {
  width: 0.5em;
}
::-webkit-scrollbar-thumb {
  background-color: #575268;
  border-radius: 4px;
}

/* Home */
.main-home-homeHeader {
  display: none;
}

.main-home-content > section:first-child > .main-gridContainer-gridContainer > div {
  background-color: var(--spice-card);
}
.main-home-content > section:first-child > .main-gridContainer-gridContainer > div:hover {
  background-color: var(--spice-misc);
}

/* Cards */
.main-card-card {
  border-radius: 6px;
}

.main-card-imageContainer {
  margin: -16px -16px 16px -16px;
}

.main-cardImage-imageWrapper,
.main-cardImage-image {
  border-radius: 6px 6px 0 0;
}

/* Song lists */
.main-trackList-playingIcon {
  background-image: url("equalizer-animated-green.gif");
  background-size: cover;
  padding-left: 100%;
}
