/* Buttons */
.main-playButton-PlayButton.main-playButton-primary {
  color: var(--spice-player);
}

.main-button-primary {
  background-color: var(--spice-main);
}
.main-button-primary:active,
.main-button-primary:focus,
.main-button-primary:hover {
  background-color: var(--spice-sidebar);
}

.control-button-heart[aria-checked=true] {
  color: var(--spice-selected-row);
}

/* Progress bar */
.x-progressBar-progressBarBg > div > div {
  background-color: var(--spice-text);
}

/* Top bars */
.main-entityHeader-backgroundColor,
.main-actionBarBackground-background {
  display: none;
}

.main-topBar-background {
  background-color: var(--spice-main) !important;
}

.main-entityHeader-withBackgroundImage {
  background-color: rgba(var(--spice-rgb-player), 0.2);
}

/* Sidebar */
.main-navBar-navBar li:hover > div,
.main-navBar-navBar li:hover > a:not(.main-navBar-navBarLinkActive),
.spicetify-playlist-list li:hover {
  background-color: var(--spice-main);
}

#spicetify-sticky-list li:hover > div {
  border-radius: 4px;
}

/* Scrollbar */
.os-theme-spotify.os-host-transition > .os-scrollbar-horizontal > .os-scrollbar-track > .os-scrollbar-handle,
.os-theme-spotify.os-host-transition > .os-scrollbar-vertical > .os-scrollbar-track > .os-scrollbar-handle {
  background-color: var(--decorative-base);
  border-radius: 6px;
}

/* Home */
.main-home-homeHeader {
  display: none;
}

.main-home-content > section:first-child > .main-gridContainer-gridContainer > div {
  background-color: var(--spice-card);
}
.main-home-content > section:first-child > .main-gridContainer-gridContainer > div:hover {
  background-color: var(--spice-misc);
}
