:root .Root__nav-bar {
  .main-rootlist-wrapper {
    div:nth-child(2) {
      > li {
        border-radius: 6px !important;
  
        > div {
          &:active::after {
            background-color: var(--background-tinted-base,rgba(0,0,0,0.08));
          }
  
          .x-entityImage-imageContainer {
            box-shadow: none !important;
          }

          p {
            color: var(--spice-subtext) !important;
  
            &.TypeElement-ballad-textBrightAccent-type {
              color: var(--spice-text) !important;
            }
          }
        }
      }
    }
  }

  // Nav Items
  .main-navBar-navBar li:hover > div,
  .main-navBar-navBar li:hover > a:not(.main-navBar-navBarLinkActive),
  .spicetify-playlist-list li:hover {
    background-color: var(--spice-main);
  }

  #spicetify-sticky-list li:hover > div {
    border-radius: 4px;
  }

  // Your collection, marketplace and lyrics app buttons 
  .main-navBar-navBarLink {
    color: var(--spice-text);
  }

  // Your collection svg 
  .Svg-img-24-icon.collection-icon {
    color: var(--spice-text);
  }

  .main-createPlaylistButton-button {
    color: var(--spice-text);
  }

  .main-navBar-navBarLinkActive {
    background-color: var(--spice-tab-active);
  }

  .main-rootlist-rootlistItemLink:link,
  .main-rootlist-rootlistItemLink:visited {
    z-index: 1;
  }
}
