:root .Root__now-playing-bar {
  // Buttons

  .main-shuffleButton-button:focus:not(:focus-visible, :hover) {
    color: var(--spice-spice-surface1);
  }

  .main-shuffleButton-button:hover {
    color: var(--spice-text);
  }

  .main-shuffleButton-button.main-shuffleButton-active {
    color: var(--spice-text);
  }

  .main-playButton-PlayButton.main-playButton-primary {
    color: var(--spice-player);
  }

  .main-button-primary {
    background-color: var(--spice-main);
  }

  .main-button-primary:active,
  .main-button-primary:focus,
  .main-button-primary:hover {
    background-color: var(--spice-sidebar);
  }

  // Generic control buttons
  .Button-sm-16-buttonTertiary-iconOnly-isUsingKeyboard-useBrowserDefaultFocusStyle,
  .control-button,
  .main-view-container button:hover>div[class^="ButtonInner-sc-"],
  .main-skipForwardButton-button,
  .main-skipBackButton-button {
    color: var(--spice-subtext) !important;

    &:hover {
      color: var(--spice-text) !important;
    }
  }

  .control-button-heart[aria-checked="true"],
  .main-addButton-active,
  .main-addButton-active:focus,
  .main-addButton-active:hover {
    color: var(--spice-red);
  }

  // Progress bar
  .x-progressBar-progressBarBg>div>div {
    background-color: var(--spice-text);
  }
}